.dashboard-container {
  background: linear-gradient(150deg, #7e8f4e, #FFD95E);
  min-height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.calendar-section {
  max-width: 100%;
  overflow-x: auto;
}

.mealplan-section {
  
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.mealplan-section button {
  margin: 0 10px;
}

.pantry-shopping-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex: 1 1 350px;
  max-width: 1500px;
  overflow: hidden;
  position: relative;
}
