/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.form-wrapper {
  display: flex;
  height: 100vh;
  width: 45%;
  background: linear-gradient(150deg, #7e8f4e, #FFD95E);
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-wrapper h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
  color: whitesmoke;
  margin-left: 200px;
}

.form-wrapper p {
  font-size: 16px;
  margin-bottom: 2rem;
  color: whitesmoke;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #c2bfbf;
  border-radius: 6px;
  margin-bottom: 20px;
  background-color: transparent;
}

.form-footer {
  text-align: right;
  margin-top: -18px;
  margin-bottom: 20px;
}

.form-footer a {
  font-size: 12px;
  color: #2434b4;
  text-decoration: none;
}

.submit-btn {
  background-color: #3c5225;
  color: #fff;
  padding: 14px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}

.submit-btn:hover {
  background-color: #2f401c;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider hr {
  flex: 1;
  border: none;
  border-top: 1px solid #ccc;
}

.divider span {
  margin: 0 10px;
  font-size: 14px;
  color: #555;
}

.switch-form {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
}

.switch-form a {
  color: #2434b4;
  font-weight: 600;
  text-decoration: none;
}



.right-section {
  background-color: #90894f;
  width: 55%;
  position: absolute;
  right: 0%;
}

.right-section img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

