.mealplan-container {
  display: flex;
  flex-direction: column; /* Adjusted for single button layout */
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  height: auto; /* Adjust height for new layout */
  box-sizing: border-box;
  margin: 0 auto;
}

.mealplan-main {
  width: 100%;
  display: flex;
  flex-direction: column; /* Center-align the button */
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.plan-button {
  width: 300px; /* Slightly larger button */
  height: 100px;
  background-color: #e2cb7b;
  border-radius: 50px;
  border: none;
  color: #4a4a1b;
  font-family: "Montserrat", sans-serif;
  font-size: 36px; /* Increased font size */
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  padding: 0 20px;
}

.plan-button:hover {
  background-color: #90782c;
}


