.sidebar {
    padding: 20px;
    background-color: #7D7B63;
    border-radius: 10px;
    width: 300px;
  }
  
  .sidebar form {
    display: flex;
    flex-direction: column;
    background-color: #7D7B63;
    color:white;
  }
  
  .sidebar label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .sidebar input {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #716E53;
    background-color: #716E53;
    color: white;
  }
  
  .generate-btn {
    background-color: #FFD95C;
    color: #576238;
    padding: 10px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .budget-labels {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    font-size: 0.9rem;
    color: #555;
  }